.match-card-thumbnail img {
  width: 50%;
}

.mathcard-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.match-card {
  width: 40%;
  margin: 10px;
  display: flex;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 10px 10px;
  align-items: center;
}

.match-card-thumbnail {
  width: 90%;
}

.match-card-thumbnail h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.mathcard-img img {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .match-card {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.header-title {
  margin-bottom: 10px;
  text-align: center;
}

.match-highlights {
  padding: 20px;
}

.highlights-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  width: 100%;
  max-width: 500px;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
  height: 0;
  overflow: hidden;
}

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
